* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: -webkit-fill-available;
  }
  body {
    /* background-color: #2fd397; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    min-height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .nws-boxlogin {
    align-items: center;
    margin: auto;
    width: 400px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
  }
  .logo {
    margin: auto;
    width: 200px;
  }
  .logo img {
    width: 100%;
    margin: auto;
  }
  .welcome-title {
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    margin-bottom: 40px;
    color: #b2b2b2;
  }
  .nws-formlogin {
  }
  .row-input {
    margin-bottom: 20px;
  }
  .form-label {
  }
  .form-input {
  }
  .form-input input {
    width: 100%;
    border-bottom: 2px solid #cccccc;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 10px;
  }
  .form-input input:active,
  .form-input input:hover,
  .form-input input:focus {
    outline: none;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 2px solid #c43538;
  }
  .form-link {
    text-align: right;
    margin-top: 20px;
  }
  .form-link a {
    color: #acacac;
    text-decoration: none;
  }
  .row-submit {
  }
  .row-submit button {
    width: 100%;
    padding: 15px;
    background-color: #ec353a;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .row-submit button:hover {
    background-color: #c43538;
  }
  .row-submit input[type='submit'] {
    width: 100%;
    padding: 15px;
    background-color: #ec353a;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .row-submit input[type='submit']:hover {
    background-color: #c43538;
  }
  .info {
    background-color:#05a2c5;
    color:#ffffff;
    padding:10px;
    border-radius: 10px;
    margin-bottom:10px;
  }
  .info a {
    color:yellow;
  }
  .footer {
    font-size:12px;
    color:#cccccc;
    text-align: center;
    margin-top:20px;
    font-style: italic;
  }